body{
    background-color: aqua;
}
h1{
    background-color: chartreuse;
    color: crimson;
    text-align: center;
}
form > p{
    text-align: center;
    position: relative;
    top: 50px;

}
form {
    width: 40%;
    position: relative;
    left: 400px;
    top: 100px;
    border: 1px solid black;
    background-color: salmon;
}
